.App {
  margin: 0;
  padding: 0;
  text-align: center;
}
.Title {
  font-size: 20px;
  color: royalblue;
}
.Author {
  font-family: 'Courier New', Courier, monospace;
}
.links {
  color: rosybrown;
  display: -webkit-inline-flex;
}